.quick {

  &__inner {
    @include flex-sb;
    padding-bottom: 100px;

    @include macbook {
      padding-bottom: 30px;
    }

    @include mobile-l {
      flex-wrap: wrap;
      justify-content: center;
    }

    picture {
      @include macbook {
        padding-top: 50px;
      }

      @include mobile-l {
        padding-top: 0;
        order: 2;
      }
    }
  }

  &__right-side {
    margin-left: 10px;
    width: 100%;
    max-width: 480px;
    align-self: center;

    @include mobile-l {
      margin-bottom: 20px;
      margin-left: 0;
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 22px;
  }

  &__text-top {
    margin: 0;
    margin-bottom: 12px;
  }

  &__text-bottom {
    margin: 0;
    margin-bottom: 38px;
  }

  &__line-bottom {
    margin: 0 auto;
    width: 100%;
    max-width: 1290px;
    border-bottom: 1px solid var(--bottom-border);
  }
}
