.shopping {
  &__inner {
    @include flex-sb;

    @include mobile-l {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__left-side {
    width: 100%;
    max-width: 480px;
    align-self: center;

    @include mobile-l {
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 22px;
    max-width: 480px;
    width: 100%;
  }

  &__icon {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: right top;
    background-image: url("../img/mastercard-copyright.svg");

    @include mobile-m {
      background-size: 15px 15px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 28px;
  }

  &__icons {
    @include flex-sb;

    width: 100%;
    max-width: 201px;
  }
}
