<section class="care section-bottom">
  <div class="container">
    <div class="care__inner">
      <div class="care__left-side">
        <h2 class="care__title title">ZEN Care</h2>
        <p class="care__text-top">
          Shopping online is usually a delightful experience. Until it's not.
        </p>
        <p class="care__text-middle">
          Until something you buy, proves to be faulty, missing or a totally wrong item, you’re in for long product
          return procedures.
        </p>
        <p class="care__text-bottom">
          But, here comes ZEN Care: a free, built-in shopping protection. You can rest assured we’ll handle all of the
          transaction-related problems faster and with higher success rates. Where lone consumers can be ignored or
          dumped by dishonest merchants, ZEN doesn't get discouraged. ZEN persists.
        </p>
      </div>
      <picture>
        <source srcset="img/care-img.avif" type="image/avif">
        <source srcset="img/care-img.webp" type="image/webp">
        <source srcset="img/care-img.jpg">
        <img class="care__image" src="img/care-img.jpg" loading="lazy" width="585" alt="care info">
      </picture>
    </div>
  </div>
</section>
