<section class="fees section-bottom">
  <div class="container">
    <div class="fees__inner">
      <picture>
        <source srcset="img/fees-img.avif" type="image/avif">
        <source srcset="img/fees-img.webp" type="image/webp">
        <source srcset="img/fees-img.jpg">
        <img class="fees__image" src="img/fees-img.jpg" loading="lazy" width="585" alt="fees info">
      </picture>
      <div class="fees__right-side">
        <h2 class="fees__title title">Shopping with no fees</h2>
        <p class="fees__text-top">
          Online shopping is flawed with all kind of fees. Currency exchange fees, processing fees and even fees for
          having multiple fees. Getting rid of them became our hobby. Same goes for ATM withdrawal fees.
        </p>
        <p class="fees__text-bottom">
          Enjoy your money globally. Every uncut part of it. Keep reading. ZEN goes beyond shopping with a fully
          functional account.
        </p>
      </div>
    </div>
  </div>
</section>
