<header class="header">
  <div class="container header__container">
    <div class="header__logos">
      <a class="logo" href="#">
        <img src="img/logo.svg" width="39" loading="lazy" alt="site logo">
      </a>
      <a class="header__master-logo" href="#">
        <img src="img/mastercard-logo.svg" width="57" loading="lazy" alt="mastercard logo">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__list list-reset">
        <li class="header__item">
          <a class="header__item-link" href="#">Personal</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Business</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Zenefits</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Features</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#">Pricing</a>
        </li>
        <li class="header__item">
          <a class="header__item-link header__item-link--btn" href="#">Get app</a>
        </li>
      </ul>
      <button class="hamburger hamburger--elastic" type="button" aria-label="menu button navigation"
        aria-controls="navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label">menu</span>
      </button>
    </nav>
  </div>
</header>
