<section class="hero section-bottom">
  <h1 class="visually-hidden">Zen Card</h1>
  <div class="container">
    <div class="hero__inner">
      <div class="hero__left-inner">
        <div class="hero__left-play-inner">
          <button class="hero__left-play btn-reset" aria-label="zen card video presentation start button"></button>
          <span class="hero__left-top">In every beginning, there is chaos.</span>
        </div>
        <div class="hero__title-inner">
          <h2 class="hero__title">Peaceful shopping. Mindful money.</h2>
          <p class="hero__left-descr">
            See how we can help with making your shopping experience and money management more ZEN.
          </p>
        </div>
        <div class="btns">
          <a class="btn" href="#" aria-label="link button to go to AppStore">
            <svg>
              <use href="img/sprite.svg#hero-appstore"></use>
            </svg>
          </a>
          <a class="btn" href="#" aria-label="link button to go to GooglePlay">
            <svg>
              <use href="img/sprite.svg#hero-googleplay"></use>
            </svg>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif">
        <source srcset="img/hero-img.webp" type="image/webp">
        <source srcset="img/hero-img.jpg">
        <img class="hero__image" src="img/hero-img.jpg" width="585" alt="image zen card with a phone">
      </picture>
    </div>
  </div>
</section>
