<section class="one section-bottom">
  <div class="container">
    <div class="one__inner">
      <div class="one__left-side">
        <h2 class="one__title title">One app, one account, many currencies</h2>
        <p class="one__text-top">
          ZEN Mastercard® was made for spending money. ZEN account is here to store and manage it peacefully, from the
          inside of your pocket.
        </p>
        <p class="one__text-middle">
          You can use it just like a regular account, as it has its own IBAN and works just the way any bank account
          would — but better. Store up to 30 currencies and transfer them easily in many ways.
        </p>
      </div>
      <picture>
        <source srcset="img/one-img.avif" type="image/avif">
        <source srcset="img/one-img.webp" type="image/webp">
        <source srcset="img/one-img.jpg">
        <img class="one__image" src="img/one-img.jpg" loading="lazy" width="585" alt="one info">
      </picture>
    </div>
  </div>
</section>
