<section class="quick">
  <div class="container">
    <div class="quick__inner">
      <picture>
        <source srcset="img/quick-img.avif" type="image/avif">
        <source srcset="img/quick-img.webp" type="image/webp">
        <source srcset="img/quick-img.jpg">
        <img class="quick__image" src="img/quick-img.jpg" loading="lazy" width="585" alt="quick info">
      </picture>
      <div class="quick__right-side">
        <h2 class="quick__title title">Quick and easy account creation</h2>
        <p class="quick__text-top">
          Now, you might be thinking that it’s just like any other account creation… Long, tiresome and full of endless
          blanks to fill in. Well, it’s not.
        </p>
        <p class="quick__text-bottom">
          We have designed the whole process to make it the simplest and the shortest one ever conceived for a personal
          account. Download the app and see for yourself!
        </p>
        <div class="btns">
          <a class="btn" href="#" aria-label="link button to go to AppStore">
            <svg>
              <use href="img/sprite.svg#hero-appstore"></use>
            </svg>
          </a>
          <a class="btn" href="#" aria-label="link button to go to GooglePlay">
            <svg>
              <use href="img/sprite.svg#hero-googleplay"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="quick__line-bottom"></div>
</section>
